*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    
    background-image: url(/images/background_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

nav{
    background-color: rgb(9, 52, 92);
    padding: 20px;
}

.menu-div{
    display: inline;
}

#menu-bars{
    color: rgba(255, 255, 255, 0.575);
    font-size: 25px;
    margin-right: 2em;
    
    
}
#menu-bars:hover{
    color: rgba(255, 255, 255, 0.986);
    cursor: pointer;
}

nav ul{
    list-style: none;
    display: inline;
    position: absolute;
    right: 0;
}
nav ul li{
    
    display: inline;
}

nav ul li a{
    margin-right: 20px;
    font-size: 20px;
    color: rgb(147, 162, 211);
    text-decoration: none;
    
    
}
nav ul li a:hover{
    
    color: rgb(210, 210, 226);
    text-decoration-line: underline;
    
    
}

.main_container{
    display: flex;
    width: 100%;
    height: 300px;

    padding: 10px;
}

.fact_container{
    flex-basis: 40%;
    background-color: transparent;
    max-height: 200px;
    max-width: 60%;
    padding: 10px;
    color: rgba(0, 0, 0, 0.658);
    border: 2px dotted darkblue;
    border-radius: 20px;
    margin-left: 2px;
    margin-right: 15px;
    box-shadow: 10px 5px 5px transparent;

}

.img_container{
    flex-basis: 60%;
    height: 100%;
    border-radius: 20px;
    margin-left: 2px;


}
.img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/*
    break points (responsive for smaller devices)
*/

@media only screen and (max-width: 560px){
    .main_container{
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .fact_container{
        display: inline;
    }

    .img_container{
        display: block;
        flex-basis: 60%;
        height: 100%;
        border-radius: 20px;
        margin-left: 2px;
        margin-top: 10px;
        border-radius: 20px;
    
    
    }



}









.footer{
    font-size: 0.7em;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.705);
    color: rgba(245, 245, 245, 0.623);
    padding: 10px;
    text-align: center;
    position: fixed;
}